

<ul class="nav">
    <li class="nav-li"><a routerLink="">Home</a></li>
    <li class="nav-li"><a routerLink="/about">About</a></li>
    <li class="nav-li"><a routerLink="#contact">Contact</a></li>
    <li class="nav-li" style="float:right"><a class="active" routerLink="/signup">Sing-Up</a></li>
    <li class="nav-li" style="float:right"><a class="active" routerLink="/signin">Sing-In</a></li>
  </ul>

  <div class="out-div">
    <h3>Online Shopping</h3>

    <p>Welcome to Online Shopping, Where you can buy branded cloathing, shoes, jewelry, etc. </p>
    <hr>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eu porttitor dolor, ac pellentesque
         augue. Mauris quam augue, gravida eget ornare vel, elementum a lorem. Sed eget lacus quis enim 
         feugiat iaculis in sodales nulla. Interdum et malesuada fames ac ante ipsum primis in faucibus.
          Etiam euismod tincidunt consectetur. Ut nec rutrum diam, nec dictum nibh. Nunc accumsan turpis 
          eu felis gravida, quis placerat diam vehicula. Vestibulum lacinia, tellus id elementum commodo, 
          odio orci maximus diam, lacinia pellentesque nulla leo vel dui. In suscipit lacus et ornare luctus.</p>
  </div>