
<ul class="nav">
    <li class="nav-li"><a routerLink="">Home</a></li>
    <li class="nav-li"><a routerLink="/about">About</a></li>
    <li class="nav-li"><a routerLink="#contact">Contact</a></li>
    <li class="nav-li" style="float:right"><a class="active" routerLink="/signup">Sing-Up</a></li>
    <li class="nav-li" style="float:right"><a class="active" routerLink="/signin">Sing-In</a></li>
  </ul>


<form action="/action_page.php" style="border:1px solid #ccc">
    <div class="container">
      <h1>Sign In</h1>
      
      <hr>
  
      <label for="email"><b>Email</b></label>
      <input type="text" placeholder="Enter Email" name="email" required>
        <br>
      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required>
        <br>
      
      
      <div class="clearfix">
       
        <button type="submit" class="signupbtn">Sign Up</button>
      </div>
    </div>
  </form>