
<ul class="nav">
    <li class="nav-li"><a routerLink="">Home</a></li>
    <li class="nav-li"><a routerLink="/about">About</a></li>
    <li class="nav-li"><a routerLink="#contact">Contact</a></li>
    <li class="nav-li" style="float:right"><a class="active" routerLink="/signup">Sing-Up</a></li>
    <li class="nav-li" style="float:right"><a class="active" routerLink="/signin">Sing-In</a></li>
  </ul>

  <div class="outter-div">
    <div class="item">
        <a routerLink="/item/1">
          <img src="https://static.nike.com/a/images/t_PDP_1280_v1/f_auto,q_auto:eco/421771d1-9ef0-421d-890a-c57e9b24ce41/air-max-95-mens-shoes-4Nzc1w.png" alt="Cinque Terre" width="600" height="400">
        </a>
        <div class="desc">Nike Air Max <br> $100.00</div>
      </div>
      
      <div class="item">
        <a routerLink="/item/2">
          <img src="https://assets.adidas.com/images/w_600,f_auto,q_auto/82b9b2a940004241a7c7ad2f00dbeb44_9366/NMD_R1_Shoes_White_GZ7947_01_standard.jpg" alt="Forest" width="600" height="400">
        </a>
        <div class="desc">Adidas NMD_R1 <br> $95.99</div>
      </div>
      
      <div class="item">
        <a routerLink="/item/3">
          <img src="https://static.nike.com/a/images/t_PDP_1280_v1/f_auto,q_auto:eco/ylzjsomnnwbiqj8ssv7v/air-force-1-sage-low-womens-shoes-CprflJ.png" alt="Northern Lights" width="600" height="400">
        </a>
        <div class="desc">Nike Air Force 1 <br>$140 </div>
      </div>
      
      <div class="item">
        <a routerLink="/item/4">
          <img src="https://assets.adidas.com/images/w_375,h_375,q_auto:sensitive/80e1e1e262154249bf7cad83013eab93_9366/GY3439_01_standard.jpg" alt="Mountains" width="600" height="400">
        </a>
        <div class="desc">Adidas Yeezy 350 V2 <br> $350</div>
      </div>
  </div>